<h1>Add a Recipe</h1>

<%= form_for @recipe do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>

  <%= f.label :ingredients %>
  <br>
  <input name="recipe[recipe_ingredients][][name]">
  <input name="recipe[recipe_ingredients][][quantity]">

  <br>
  <input name="recipe[recipe_ingredients][][name]">
  <input name="recipe[recipe_ingredients][][quantity]">

  <br>
  <%= f.submit %>

  <%= puts params %>

<% end %>
